aws_region                    = "us-east-1"
name_prefix                   = "jenkins-lab"
key_pair_mode                 = "existing"
existing_key_name             = "replace-with-existing-key-pair"
vpc_mode                      = "default"
security_group_mode           = "create"
controller_instance_type      = "t3.medium"
worker_instance_type          = "t3.medium"
allowed_ssh_cidr              = "203.0.113.10/32"
allowed_jenkins_cidr          = "203.0.113.10/32"
associate_public_ip_address  = true
create_iam_instance_profile  = true
